# --- Python cache ---
__pycache__/
*.pyc
*.pyo
*.pyd
**/__pycache__/
*$py.class

# --- виртуальное окружение ---
.venv/
venv/
env/
*.egg-info/

# --- IDE ---
.vscode/
.idea/

# --- system ---
.DS_Store
Thumbs.db

# --- logs/tests ---
*.log
.coverage
htmlcov/

# --- db ---
db/
*.db
*.db.lock
db/
uploads/

# --- загруженные файлы ---
uploads/
*.pdf
*.docx
*.txt

# --- конфигурация ---
.env
*.pem
*.crt
*.key

# --- build ---
build/
dist/
*.egg-info/